include ../header
script (src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js?lang=css")
div.examplesDesccontainer
  div.examplesContainer
    h2 Contract Maintenance
    div.plainText A simple web page where user you can get, filter, add, update the contract details along with its related children data(bench, storage, location, roles). This example involves #[a.hyperLink(href="http://microservices.io/") Micro Services] implementation with #[a.hyperLink(href="https://swagger.io/") Swagger OpenAPI Specification] and #[a.hyperLink(href="https://auth0.com/blog/beating-json-performance-with-protobuf/") Protobuff ] as the format to interchange the data between the services.
    h3 Pre-requisites
    ul.ulStyle
      li JDK 1.7 or later
      li Maven 3.0+
      li Apache Tomcat 1.7 or later
    h3.padding How to run this application
    ul.ulStyle
      li Find the source code for this project at 
        div.textbox 
          a.hyperLink(href="https://github.com/simplity/examples/tree/master/contractDB") https://github.com/simplity/examples/tree/master/contractDB
    div.plainText This application has 3 modules. Each module is using different environment to start the application.Following are the list of modules under this application: 
    ul.ulStyle
      li using #[a.hyperLink(href="https://projects.spring.io/spring-boot/") Springboot]
      li using #[a.hyperLink(href="https://javaee.github.io/grizzly/") Grizzly]
      li Web application with #[a.hyperLink(href="http://tomcat.apache.org/") Tomcat]
    div.plainText Build and run the jars using maven.Once the services are up and running check the functionality of each module with these URLs:
      div 
        div.textbox.textboxBorder 
          a.hyperLink(href="http://localhost:8080/index.html") 
            code http://localhost:8080/index.html
        span to access spring boot application
      div 
        div.textbox.textboxBorder 
          a.hyperLink(href="http://localhost:8070/webapp/index.html") 
            code http://localhost:8070/webapp/index.html
        span to access grizzly application
      div 
        div.textbox.textboxBorder 
          a.hyperLink(href="http://localhost:8080/webapp/") 
            code http://localhost:8080/webapp/
        span to access web application
    div #[div.textbox #[code src/main/java/org/simplity/examples/contractDB/springBoot/App.java]] #[span is the entry class to run Springboot application]
    div #[div.textbox #[code src/main/java/org/simplity/examples/App.java]] #[span is the entry class to run  application with grizzly server]
    div.plainText All the 3 modules will open a common web-page where you have buttons to perform different operations.Refer below table for functionality of each button.
      table
        tr
          th button
          th function
        tr
          td Create Contract
          td Inserts new contract into DB with sample data in index.js.
        tr
          td Update Contract
          td Updates the contract details in DB with sample data in index.js.
        tr
          td Find Contract
          td Displays all the contracts.
        tr
          td Filter Contracts
          td enter the search query in the text-box provided and click on this button. Displays the filtered output for given search criteria. #[br] Query should be in the following format #[div.textbox colName1=value1&colName2=value2] and so on
        tr
          td Get Contract
          td Enter a contract ID in the provided text-box and click on this button to get the details of this contract ID.
    h3.padding Services
    div #[div.textbox #[code contractCreate]] #[span inserts new contract entry into DB along with its children]
    div #[div.textbox #[code contractUpdate]] #[span updates the contract details]
    div #[div.textbox #[code contractFind]] #[span fetches all the contract details]
    div #[div.textbox #[code contractGet]] #[span gets the contract details for the provided contractID]
    div #[div.textbox #[code contractFilter]] #[span filters the contracts based on the search criteria]
    
include ../footer