include ../header
div.examplesContainer
  div.examplesHeader Examples
  div.examplesListContainer
    ul.examplesRow
      li 
         div.listContainer
            div.exampleName Pet Store
            div.descSeparator
            div.exampleDesc This example provides an overview of service with calls to configured DB.
            div.exampleLink
               a(href="/portal/examples/petstore/") Learn more
      li 
         div.listContainer
            div.exampleName contractDB
            div.descSeparator
            div.exampleDesc This example provides an overview of Micro-services implementation with simplity using Swagger as OpenAPI spec.
            div.exampleLink
               a(href="/portal/examples/contract/") Learn more
      li 
         div.listContainer
            div.exampleName jmsDemo
            div.descSeparator
            div.exampleDesc This example provides an overview of configuration and service interactions with messaging servers.
            div.exampleLink
               a(href="#") Learn more
    ul.examplesRow
      li 
         div.listContainer
            div.exampleName To Do
            div.descSeparator
            div.exampleDesc This example provides an overview of batch processing of different inputs like files, DB data, message queues etc.
            div.exampleLink
               a(href="/portal/examples/todos/") Learn more
      li 
         div.listContainer
            div.exampleName springIntegration
            div.descSeparator
            div.exampleDesc This example provides an overview of integrating Spring with Simplity.
            div.exampleLink
               a(href="#") Learn more
      li 
         div.listContainer
            div.exampleName mailDemo
            div.descSeparator
            div.exampleDesc This example provides an overview of configuration of SMTP servers and mailing actions.
            div.exampleLink
               a(href="#") Learn more

include ../footer