include ../header
div.examplesContainer
  div.examplesHeader Examples
  div.examplesListContainer
    ul.examplesRow
      li 
         div.listContainer
            div.exampleName Pet Store
            div.descSeparator
            div.exampleDesc This example provides an overview of DB transactions in service with configured DB.
            div.exampleLink
               a(href="/portal/examples/petstore/") Learn more
      li 
         div.listContainer
            div.exampleName Contract Maintenance
            div.descSeparator
            div.exampleDesc This example provides an overview of Micro-services implementation with simplity using Swagger as OpenAPI spec.
            div.exampleLink
               a(href="/portal/examples/contract/") Learn more
      li 
         div.listContainer
            div.exampleName Batch 
            div.descSeparator
            div.exampleDesc This example provides an overview of batch processing of different inputs like files, DB data, message queues etc.
            div.exampleLink
               a(href="/portal/examples/batch/") Learn more
    ul.examplesRow
      li 
         div.listContainer
            div.exampleName To-do List
            div.descSeparator
            div.exampleDesc This example provides an overview of configuration and service interactions with messaging servers.
            div.exampleLink
               a(href="/portal/examples/todos/") Learn more
      li 
         div.listContainer
            div.exampleName Spring Integration
            div.descSeparator
            div.exampleDesc This example provides an overview of integrating Spring framework with Simplity.
            div.exampleLink
               a(href="/portal/examples/springInt/") Learn more
      li 
         div.listContainer
            div.exampleName mailDemo
            div.descSeparator
            div.exampleDesc This example provides an overview of configuration of SMTP servers and mailing actions.
            div.exampleLink
               a(href="#") Learn more

include ../footer