@import url('https//fonts.googleapis.com/css?family=Source+Code+Pro400,200,700')

*
  margin 0
  padding 0
  box-sizing border-box

body
  font-family 'Source Code Pro', monospace
  min-width 1020px
  word-wrap break-word
  

.sideNav
  height: 341px;
  width: 276px;
  background-color: #25507D;
  position relative
  left 10%
