include header
div.downloadsContainer
  div.downloadsInnerContainer
    div.downloadsHeader So, why Simplity?
    div.downloadsDesc Simplity is a ridiculously simple set of APIs/framework for typical transaction processing systems.
    br
    ul
      li Simplity promises future-proofing the application from technology disruptions, and prescribes an approach to encapsulate repeated code/design patterns that can be applied/reused faster.
      br
      li The backing code is assured on code quality, secured coding practices, optimized for performance and verified.
    div.downloadsDesc Simplity is based on the concepts used in Exility. It is re-designed based on the current best practices in the industry, and a complete re-write.
include footer