doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')
    title Simplity
  body
    div.container
      div.containerArt-1
        div.relative-1
          div.logo Simplity
          ul.navItems
            li Home
            li Guides
            li Documentation
            li Downloads
            li About Simplity
        div.relative-2
          div.banner-1 Simplity
          div.banner-2 
             A set of APIs/framework for typical transaction processing systems
        div.relative-3
          div.bannerButtonContainer
            div.bannerButton-1
              div.bannerButtonText-1 Get Started
      div.containerArt-2  