doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')
    title Simplity
  body
    div.mainContainer
      div.container
        div.containerArt-1
          div.relative-1
            div.logo Simplity
            ul.navItems
              li Home
              li Guides
              li Documentation
              li Downloads
              li About Simplity
          div.relative-2
            div.banner-1 Simplity
            div.banner-2 A set of APIs/framework for typical transaction processing systems
          div.relative-3
            div.bannerButtonContainer
              div.bannerButton-1
                div.bannerButtonText-1 GET STARTED
              div.bannerButton-2
                div.bannerButtonText-2 DOCUMENTATION (V1 RELEASE)
        div.containerArt-2  
      div.componentContainer
        div.componentsHeader Components of simplity
        img(src= "./local/images/Shape 194.png")
        div.componentsBanner
          div.service Service
          div.application Application
          div.dataTypes Data Types
          div.records Records
        div.componentsDescription
          div.serviceDesc Component which helps in transaction processing
          div.applicationDesc Helps in configuring the application
          div.dataTypesDesc Defines the restrictions on the values
          div.recordsDesc A record helps us in implementing the model