doctype html
html
  head
    link(rel='stylesheet', href='css/index.css')
    link(rel='shortcut icon', href='images/favicon.png', type='image/x-icon') 
    title Simplity
  body
    div.mainContainer
      div.container
        div.containerArt-1
          div.relative-1
            div.logo Simplity
            ul.navItems
              li Home
              li Guides
              li Documentation
              li Downloads
              li About Simplity
          div.relative-2
            div.banner-1 Simplity
            div.banner-2 A set of APIs/framework for typical transaction processing systems
          div.relative-3
            div.bannerButtonContainer
              div.bannerButton-1
                div.bannerButtonText-1 GET STARTED
              div.bannerButton-2
                div.bannerButtonText-2 DOCUMENTATION (V1 RELEASE)
        div.containerArt-2  
      div.componentContainer
        div.componentsHeader Components of simplity
        div.componentsImages
          img.serviceImg(src= "images/service.png")
          img.applicationImg(src= "images/application.png")
          img.dataTypesImg(src= "images/dataTypes.png")
          img.recordsImg(src= "images/records.png")
        div.componentsBanner
          div.service Service
          div.application Application
          div.dataTypes Data Types
          div.records Records
        div.componentsDescription
          div.serviceDesc Component which helps in transaction processing
          div.applicationDesc Helps in configuring the application
          div.dataTypesDesc Defines the restrictions on the values
          div.recordsDesc A record helps us in implementing the model
      div
        div
          div.loginBanner Creates beautiful login experiences fast
          div.loginDesc Use login function to login to Simplity application. This API makes a call to your servers designated login service.
          div.loginButtonsBanner
            div.loginBannerButton-1
              div.loginBannerButtonText-1 VIEW EXAMPLE
            div.loginBannerButton-2
              div.loginBannerButtonText-1 GET STARTED
            div.loginBannerButton-3
              div.loginBannerButtonText-2 VIEW DOCUMENTATION
        div.loginImage
          img(src= "images/login.png")
      div.flyContainer
        div.flyImage
          img(src= "images/onTheFly.png")
        div.flyContent
          div.flyHeader On the fly Services
          div.flyDescription Expected input for an on-the-fly service can be specified. Simplity parses request data for this input and invokes the requested on-the-fly service.
        div.flyButtonsBanner
            div.flyBannerButton-1
              div.flyBannerButtonText-1 GET STARTED
            div.flyBannerButton-2
              div.flyBannerButtonText-2 VIEW DOCUMENTATION
      div.helperContainer
        div.helperContent
          div.helperHeader Simple built-in helpers that solve complicated logic
          div.helperDescription Lorem ipsum dolor sit amet, pri tacimates salutatus forensibus ea. Sit ceteros hendrerit consequuntur an, dicta tibique eu vis.
          div.helperHeader2 Here are few examples:
          ul.helperDescription2
            li example1
            li example2
            li example3
            li example4
          div.helperButtonsBanner
            div.helperBannerButton-1
              div.helperBannerButtonText-1 GET STARTED
            div.helperBannerButton-2
              div.helperBannerButtonText-2 VIEW DOCUMENTATION
        div.servletContainer
          div.servletContent web.xml configuration for Simplity serve class
        div.feedbackContainer
          div.feedback1 Simplity kernel allowed us to build a full-fledged e-commerce site within 2 days
          div.feedbackImg
            img(src= "images/feedback.png")
        div.featuresContainer
          div.featuresHeader Features
          div.featuresDesc We provide the best solutions
          div.actionsContainer
            ul.actionsRow1
              li
                div.actionImage
                div.actionHeader Read Action
                div.actionDesc
                div.actionLink
              li
                div.actionImage
                div.actionHeader Read Action
                div.actionDesc
                div.actionLink
              li
                div.actionImage
                div.actionHeader Read Action
                div.actionDesc
                div.actionLink
              li
                div.actionImage
                div.actionHeader Read Action
                div.actionDesc
                div.actionLink
          