include header
div.downloadsContainer
  div.downloadsInnerContainer
    div.downloadsHeader Downloads
    div.downloadsDesc Releases of Simplity are available in the Maven Central Repository.
    div.line
    div.releaseList
      ul.releaseListItems
        li Simplity simplity
        li Simplity kernel
        li Simplity js
    div.releaseContainer
      div.releaseInnerContainer
        div.releaseList1 1. Simplity simplity
        div.line
        div.stable Stable
        ul.codeoptions
          li Downloads
          li Copy code
          li View output
        div.box
          div.dependency &lt;dependency&gt; </br>&lt;groupId&gt;org.simplity&lt;groupId&gt; </br>&lt;artifactIdId&gt;simplity&lt;/artifactId&gt;</br>&lt;version&gt;1.2&lt;/version&gt;</br>&lt;/dependency&gt;
        div.stable Plain Java
        ul.codeoptions
          li Downloads
          li Copy code
          li View output
        div.box
          div.dependency &lt;dependency&gt; </br>&lt;groupId&gt;org.simplity&lt;/groupId&gt; </br>&lt;artifactIdId&gt;simplity&lt;/artifactId&gt;</br>&lt;version&gt;1.2&lt;/version&gt;</br>&lt;/dependency&gt;
        div.releaseList1 2. Simplity kernel
        div.line
        div.stable Stable
        ul.codeoptions
          li Downloads
          li Copy code
          li View output
        div.box
          div.dependency &lt;dependency&gt; </br>&lt;groupId&gt;org.simplity&lt;groupId&gt; </br>&lt;artifactIdId&gt;simplity&lt;/artifactId&gt;</br>&lt;version&gt;1.2&lt;/version&gt;</br>&lt;/dependency&gt;
        div.stable Plain Java
        ul.codeoptions
          li Downloads
          li Copy code
          li View output
        div.box
          div.dependency &lt;dependency&gt; </br>&lt;groupId&gt;org.simplity&lt;/groupId&gt; </br>&lt;artifactIdId&gt;simplity&lt;/artifactId&gt;</br>&lt;version&gt;1.2&lt;/version&gt;</br>&lt;/dependency&gt;
        div.releaseList1 3. Simplity js
        div.line
        div.stable Stable
        ul.codeoptions
          li Downloads
          li Copy code
          li View output
        div.box
          div.dependency &lt;dependency&gt; </br>&lt;groupId&gt;org.simplity&lt;groupId&gt; </br>&lt;artifactIdId&gt;simplity&lt;/artifactId&gt;</br>&lt;version&gt;1.2&lt;/version&gt;</br>&lt;/dependency&gt;
        div.stable Plain Java
        ul.codeoptions
          li Downloads
          li Copy code
          li View output
        div.box
          div.dependency &lt;dependency&gt; </br>&lt;groupId&gt;org.simplity&lt;/groupId&gt; </br>&lt;artifactIdId&gt;simplity&lt;/artifactId&gt;</br>&lt;version&gt;1.2&lt;/version&gt;</br>&lt;/dependency&gt;
        div.snapshots Snapshots
        div.line
        div.snapDesc
          div.relative4 Every successful build is deployed as a snapshot to the Sonatype OSS Repository.
          ul.mavenurl
            li Maven Repository URL: 
              a(href="https://mvnrepository.com/artifact/org.simplity") https://mvnrepository.com/artifact/org.simplity
include footer