include header
div.examplesContainer
  h1.featuresHeader Simplity sample example
  div.plainText This application is a simple java application which gives an idea of the folder structure of simplity components and the servlet entry to invoke the simplity features. In this example you can see how to add service invoking the same.
  h2.steps How to run this application
  ul.ulStyle
    li Download and unzip the repository for this example or clone it using Git:</br> git clone 
      a(href="https://github.com/simplity/examples.git") https://github.com/simplity/examples.git
    li cd into mcHelloWorld
    li mvn clean install
    li cd into target
    li java -jar mcHelloWorld-1.2.1-SNAPSHOT.jar
  div.plainText Wait for the server to start and go to the browser and try it out 
    a(href="http://localhost:8081/a._s?_serviceName=helloworld") http://localhost:8081/a._s?_serviceName=helloworld
  div.plainText You will see the output on the browser window.
    
  div.plainText Try writing your own services in comp/service/tp folder of the application and call it using the above url with corresponding service name.
include footer