include header
div.examplesContainer
  div.examplesHeader Examples
  div.examplesListContainer
    ul.examplesRow
      li 
         div.listContainer
            div.exampleName Micro-Services
            div.descSeparator
            div.exampleDesc This example provides an overview of basic service ,calls another service, file upload and download etc.
            div.exampleLink
               a(href="#") Learn more
      li 
         div.listContainer
            div.exampleName Micro-Services
            div.descSeparator
            div.exampleDesc This example provides an overview of basic service ,calls another service, file upload and download etc.
            div.exampleLink
               a(href="#") Learn more
      li 
         div.listContainer
            div.exampleName Micro-Services
            div.descSeparator
            div.exampleDesc This example provides an overview of basic service ,calls another service, file upload and download etc.
            div.exampleLink
               a(href="#") Learn more
      li 
         div.listContainer
            div.exampleName Micro-Services
            div.descSeparator
            div.exampleDesc This example provides an overview of basic service ,calls another service, file upload and download etc.
            div.exampleLink
               a(href="#") Learn more
    ul.examplesRow
      li 
         div.listContainer
            div.exampleName Micro-Services
            div.descSeparator
            div.exampleDesc This example provides an overview of basic service ,calls another service, file upload and download etc.
            div.exampleLink
               a(href="#") Learn more
      li 
         div.listContainer
            div.exampleName Micro-Services
            div.descSeparator
            div.exampleDesc This example provides an overview of basic service ,calls another service, file upload and download etc.
            div.exampleLink
               a(href="#") Learn more
      li 
         div.listContainer
            div.exampleName Micro-Services
            div.descSeparator
            div.exampleDesc This example provides an overview of basic service ,calls another service, file upload and download etc.
            div.exampleLink
               a(href="#") Learn more
      li 
         div.listContainer
            div.exampleName Micro-Services
            div.descSeparator
            div.exampleDesc This example provides an overview of basic service ,calls another service, file upload and download etc.
            div.exampleLink
               a(href="#") Learn more
    ul.examplesRow
      li 
         div.listContainer
            div.exampleName Micro-Services
            div.descSeparator
            div.exampleDesc This example provides an overview of basic service ,calls another service, file upload and download etc.
            div.exampleLink
               a(href="#") Learn more
      li 
         div.listContainer
            div.exampleName Micro-Services
            div.descSeparator
            div.exampleDesc This example provides an overview of basic service ,calls another service, file upload and download etc.
            div.exampleLink
               a(href="#") Learn more
      li 
         div.listContainer
            div.exampleName Micro-Services
            div.descSeparator
            div.exampleDesc This example provides an overview of basic service ,calls another service, file upload and download etc.
            div.exampleLink
               a(href="#") Learn more
      li 
         div.listContainer
            div.exampleName Micro-Services
            div.descSeparator
            div.exampleDesc This example provides an overview of basic service ,calls another service, file upload and download etc.
            div.exampleLink
               a(href="#") Learn more
include footer