include header
div.examplesContainer
  div.examplesHeader Examples
  div.examplesListContainer
    ul.examplesRow
      li 
         div.listContainer
            div.exampleName Simple application
            div.descSeparator
            div.exampleDesc This example provides an overview of basic service and call to that service.
            div.exampleLink
               a(href="#") Learn more
      li 
         div.listContainer
            div.exampleName DB Transactions
            div.descSeparator
            div.exampleDesc This example provides an overview of service with calls to configured DB.
            div.exampleLink
               a(href="#") Learn more
      li 
         div.listContainer
            div.exampleName Micro-Services with Swagger
            div.descSeparator
            div.exampleDesc This example provides an overview of Micro-services implementation with simplity using Swagger as OpenAPI spec.
            div.exampleLink
               a(href="#") Learn more
      li 
         div.listContainer
            div.exampleName JMS - Active MQ
            div.descSeparator
            div.exampleDesc This example provides an overview of configuration and service interactions with messaging servers.
            div.exampleLink
               a(href="#") Learn more
    ul.examplesRow
      li 
         div.listContainer
            div.exampleName Batch
            div.descSeparator
            div.exampleDesc This example provides an overview of batch processing of different inputs like files, DB data, message queues etc.
            div.exampleLink
               a(href="#") Learn more
      li 
         div.listContainer
            div.exampleName Spring Integration
            div.descSeparator
            div.exampleDesc This example provides an overview of integrating Spring with Simplity.
            div.exampleLink
               a(href="#") Learn more
      li 
         div.listContainer
            div.exampleName SMTP
            div.descSeparator
            div.exampleDesc This example provides an overview of configuration of SMTP servers and mailing actions.
            div.exampleLink
               a(href="#") Learn more
      li 
         div.listContainer
            div.exampleName Protobuff
            div.descSeparator
            div.exampleDesc This example provides an overview of Protobuff usage with different data formats.
            div.exampleLink
               a(href="#") Learn more
include footer