include header
div.featuresHeader Feature descriptions
hr.underline
div.actionsType RDBMS based actions
  div.actionsDesc Dealing with database is the core of any transaction processing system. We have designed a set of actions to help you in that. They have the following common attributes (in addition to all the common attributes of action).
  div.letUsSee Now let us understand RDBMS based actions.
  div.rdbmsContainer
    ul.rdbmsactionsRow
      li
        div.rdbmsactionImage
          img(src= "/portal/images/settings.jpg")
        div.rdbmsRelative
          div.rdbmsactionHeader Read Action
          div.rdbmsactionDesc Read a row from the underlying table/view based on the primary key value.
          div.rdbmsactionLink
            a(href="#") Feature details
      li
        div.rdbmsactionImage
          img(src= "/portal/images/settings.jpg")
        div.rdbmsRelative
          div.rdbmsactionHeader ReadWithSql Action
          div.rdbmsactionDesc Use a sql to read data rows. Refer to sql definitions as a buildina block for details.
          div.rdbmsactionLink
            a(href="#") Feature details
      li
        div.rdbmsactionImage
          img(src= "/portal/images/settings.jpg")
        div.rdbmsRelative
          div.rdbmsactionHeader Filter Action
          div.rdbmsactionDesc Read a row from the underlying table/view based on the filtering criteria.
          div.rdbmsactionLink
            a(href="#") Feature details
      li
        div.rdbmsactionImage
          img(src= "/portal/images/settings.jpg")
        div.rdbmsRelative
          div.rdbmsactionHeader ReadChildren Action
          div.rdbmsactionDesc rdbmsaction that reads rows from one or more child records based on the value of a parent key.
          div.rdbmsactionLink
            a(href="#") Feature details
    ul.rdbmsactionsRow
      li
        div.rdbmsactionImage
          img(src= "/portal/images/settings.jpg")
        div.rdbmsRelative
          div.rdbmsactionHeader Read Action
          div.rdbmsactionDesc Read a row from the underlying table/view based on the primary key value.
          div.rdbmsactionLink
            a(href="#") Feature details
      li
        div.rdbmsactionImage
          img(src= "/portal/images/settings.jpg")
        div.rdbmsRelative
          div.rdbmsactionHeader ReadWithSql Action
          div.rdbmsactionDesc Use a sql to read data rows. Refer to sql definitions as a buildina block for details.
          div.rdbmsactionLink
            a(href="#") Feature details
      li
        div.rdbmsactionImage
          img(src= "/portal/images/settings.jpg")
        div.rdbmsRelative
          div.rdbmsactionHeader Filter Action
          div.rdbmsactionDesc Read a row from the underlying table/view based on the filtering criteria.
          div.rdbmsactionLink
            a(href="#") Feature details
      li
        div.rdbmsactionImage
          img(src= "/portal/images/settings.jpg")
        div.rdbmsRelative
          div.rdbmsactionHeader ReadChildren Action
          div.rdbmsactionDesc rdbmsaction that reads rows from one or more child records based on the value of a parent key.
          div.rdbmsactionLink
            a(href="#") Feature details
    ul.rdbmsactionsRow
      li
        div.rdbmsactionImage
          img(src= "/portal/images/settings.jpg")
        div.rdbmsRelative
          div.rdbmsactionHeader Read Action
          div.rdbmsactionDesc Read a row from the underlying table/view based on the primary key value.
          div.rdbmsactionLink
            a(href="#") Feature details
      li
        div.rdbmsactionImage
          img(src= "/portal/images/settings.jpg")
        div.rdbmsRelative
          div.rdbmsactionHeader ReadWithSql Action
          div.rdbmsactionDesc Use a sql to read data rows. Refer to sql definitions as a buildina block for details.
          div.rdbmsactionLink
            a(href="#") Feature details
      li
        div.rdbmsactionImage
          img(src= "/portal/images/settings.jpg")
        div.rdbmsRelative
          div.rdbmsactionHeader Filter Action
          div.rdbmsactionDesc Read a row from the underlying table/view based on the filtering criteria.
          div.rdbmsactionLink
            a(href="#") Feature details
      li
        div.rdbmsactionImage
          img(src= "/portal/images/settings.jpg")
        div.rdbmsRelative
          div.rdbmsactionHeader ReadChildren Action
          div.rdbmsactionDesc rdbmsaction that reads rows from one or more child records based on the value of a parent key.
          div.rdbmsactionLink
            a(href="#") Feature details
include footer