div.footerContainer
  div.quickNavigationContainer
    div.footerCol Simplity
      ul.quickNavigation
        li About Simplity
        li Who uses simplity
        li Documentation
    div.footerCol Guides
      ul.quickNavigation
        li Getting started
        li Transaction
        li Client APIs
    div.footerCol Downloads
      ul.quickNavigation1
        li version 1.1
        li version 1.2
        li version 1.3
        li version 1.4
        li version 1.5
        li version 1.6
        li version 1.7
        li version 1.8
    div.footerCol Services
      ul.quickNavigation
        li Service Feature List
        li Input Data Specification
        li Output Data Specification
        li Security
        li Logging
        li Hosting the application
  div.copyRightContainer
    div.copyRightText Infosys Limited