div.footerContainer
  div.quickNavigationContainer
    ul.footerItems
      li
        a.navLinks(href="/portal/getStarted") Get Started
      li
        a.navLinks(href="/portal/examples") Examples
      li
        a.navLinks(href="/portal/guide/") Guide
      li
        a.navLinks(href="/portal/docs/") Docs
      li
         a.navLinks(href="/portal/downloads/") Downloads
      li
        a.navLinks(href="/portal/about/") About