include header
div.examplesContainer
  div.examplesHeader Get Started
  div.examplesListContainer
    ul.examplesRow
      li 
         div.listContainer
            div.exampleName Plain Web Services
            div.descSeparator
            div.exampleDesc This includes webservice development with in-build simplity web service technology.
            div.exampleLink
               a(href="/portal/getStarted/plainWebService/index.html") Learn more
      li 
         div.listContainer
            div.exampleName WebServices with Open API
            div.descSeparator
            div.exampleDesc Implementation of Web Services using Swagger JSON in Simplity.
            div.exampleLink
               a(href="/portal/getStarted/webServicesOpenApi/index.html") Learn more
      li 
         div.listContainer
            div.exampleName Simplity Service with Java
            div.descSeparator
            div.exampleDesc Invoke Simplity service in java program.
            div.exampleLink
               a(href="/portal/getStarted/simplityServiceWithJava/index.html") Learn more
    ul.examplesRow
      li 
         div.listContainer
            div.exampleName Simplity + SpringMVC
            div.descSeparator
            div.exampleDesc Develop application using Simplity and Spring MVC.
            div.exampleLink
               a(href="/portal/getStarted/simplitySpringMvc/index.html") Learn more
      li 
         div.listContainer
            div.exampleName Simplity + SpringBoot
            div.descSeparator
            div.exampleDesc Develop stand-alone simplity application using spring Boot.
            div.exampleLink
               a(href="/portal/getStarted/simplitySpringBoot/index.html") Learn more
      li 
         div.listContainer
            div.exampleName Simplity + Grizzly Server
            div.descSeparator
            div.exampleDesc Working with Simplity and Grizzly server.
            div.exampleLink
               a(href="/portal/getStarted/simplityGrizzlyJetty/index.html") Learn more
    ul.examplesRow
      li 
         div.listContainer
            div.exampleName Simplity Batch
            div.descSeparator
            div.exampleDesc Create Batch process (Interval batch, Periodic batch and Listener batch) using Simplity.
            div.exampleLink
               a(href="/portal/getStarted/simplityBatch/index.html") Learn more

include footer