doctype html
html
  head
    link(rel='stylesheet',href='https://fonts.googleapis.com/css?family=Source+Code+Pro')
    link(rel='stylesheet', href='https://simplity.github.io/portal/css/index.css')
    link(rel='shortcut icon', href='/images/favicon.png', type='image/x-icon') 
    title Simplity
div.headerContainer
  div.relative-1
    div.logo Simplity
    ul.navItems
      li
        a.navLinks(href="/") Home
      li
        a.navLinks(href="#guides") Guides
      li
        a.navLinks(href="features/") Documentation
      li
        a.navLinks(href="#downloads") Downloads
      li
        a.navLinks(href="about/") About Simplity