doctype html
html
  head
    link(rel='stylesheet',href='https://fonts.googleapis.com/css?family=Source+Code+Pro')
    link(rel='stylesheet', href='/portal/css/index.css')
    link(rel='shortcut icon', href='/portal/images/favicon.png', type='image/x-icon') 
    title Simplity
body
  div.headerContainer
    div.relative-1
      div 
        a.logo(href="/portal")	Simplity
      ul.navItems
        li
          a.navLinks(href="/portal/getStarted") Get Started
        li
          a.navLinks(href="/portal/examples") Examples
        li
          a.navLinks(href="/portal/guide/") Guide
        li
          a.navLinks(href="/portal/docs/") Docs
        li
          a.navLinks(href="/portal/downloads/") Downloads
        li
          a.navLinks(href="/portal/about/") About