include header
div.downloadsContainer
  div.downloadsInnerContainer
    div.downloadsHeader On-the-fly Services
    div.downloadsDesc Expected input for a on-the-fly service can be specified. Simplity parses request data for these input and invokes the requested on-the-fly service only if the input data passes all naming convention and validations. In case of any validation error, a response is sent back to client with appropriate messages.In case of success, on-the-fly service fetches the data from database depending upon the input given and sends it back to client.
    br
    div Tip #[string On-the-fly services uses only records and input data.]
    br
    ol(type='a')
            li
              p
                | Input may contain records. A record may be used to get fields or a list/table of rows.
              div
                ol(type='i')
                  li
                    p
                      | Record is used with specific purpose. &ldquo;get&rdquo;, &ldquo;filter&rdquo;, &ldquo;save&rdquo; ,&ldquo;list&rdquo; and &ldquo;suggest&rdquo; are possible values.
                    div
                      ul
                        li
                          p
                            strong &ldquo;get&rdquo;
                            |   means it is meant to get this record with primary key. Only the primary key field of the record is expected as input. Other fields are all ignored.
                            | Check out the 
                            strong helloworld
                            |  example:  
                            a(href='https://github.com/simplity/examples/tree/master/helloworld',target='_blank') helloworld
                            | .
                            br
                            br
                            div
                              table
                                tbody
                                  tr
                                    td
                                      div Note
                                    td
                                      div
                                        p
                                          strong
                                            em Examples
                                          | :
                                      div
                                        ul
                                          li
                                            p
                                              | For record agents , Primary key is agentCode.If user wants to get the details about &apos;A004&apos; agentCode then while calling the function user has to provide the below details :
                                            div
                                              div
                                                pre.
                                                  \nvar data = "{'agentCode':'A004'}";
                                                   Simplity.getResponse("get_tables.agents",data,onSuccess,onError);
                            br
                      li
                        p
                          | Composite Primary key : For record compParent , Primary key is parentKeyText and parentKeyNbr.If user wants to get the details about &apos;k1&apos; parentKeyText and &apos;1&apos; parentKeyNbr then while calling the function user has to provide the below details :
                        div
                          div
                            pre.
                              \nvar data = "{'parentKeyText':'k1','parentKeyNbr':'1'}";
                              Simplity.getResponse("get_tables.compParent",data,onSuccess,onError);
                          br
                      li
                         p #[strong filter] means the fields in this record are used to specify filtering criterion to get a subset of rows .
                           ul
                             li
                               p Each field is assumed to be optional.
                             li
                               p
                                 | Field value is validated for the value-type (like numeric/date etc.) but dataType specification is not used for validation. For example a dataType may have min-length of 5, but as filter field we accept even if only one character is specified.
                             li
                               p
                                 | Each field may optionally have an associated condition named as fieldNameOperator. For example if fieldName=&rdquo;cusomerName&rdquo; then customerNameOperator. If this is missing, a value of &lsquo;=&rsquo; is assumed.
                               div
                                 ul
                                   li
                                     p &lsquo;=&rsquo; means exact match.
                                   li
                                     p &lsquo;!=&rsquo; means should not match.
                                   li
                                     p &lsquo;&lt;&rsquo; means less than. Valid only for numeric and date fields.
                                   li
                                     p &lsquo;&gt;&rsquo; means greater than. Valid for numeric and date fields.
                                   li
                                     p &lsquo;&lArr;&rsquo; means less than or equal. Valid for numeric and date fields.
                                   li
                                     p &lsquo;&gt;=&rsquo; means greater than or equal. Valid for numeric and date fields.
                                   li
                                     p
                                       | &lsquo;&gt;&lt;&rsquo; means value is to be a range(inclusive). fieldValue is from-value. fieldNameTo is the name field. For example amount=&rdquo;10&rdquo; amountOperator=&rdquo;&gt;&lt;&rdquo; amountTo=&rdquo;20&rdquo; will match rows with amount field between 10 and 20 (inclusive)
                                   li
                                     p &lsquo;~&rsquo; means containing this text anywhere
                                   li
                                     p &lsquo;^&rsquo; means field that starts with this text
                                   li
                                     p
                                       | &lsquo;@&rsquo; means matching any one value in the list. fieldValue should have a comma separated list of values. For example color=&rdquo;red,blue,green&rdquo;, colorOperator=&rdquo;@&rdquo; means rows with color set to red, blue or green.
                                       br
                                       | Check out the 
                                       strong helloworld
                                       |  example:  
                                       a(href='https://github.com/simplity/simplity/tree/master/examples/helloworld#asciidoctor') helloworld
                                       | .
                                       br
                                       table
                                         tbody
                                           tr
                                             td
                                               div Note
                                             td
                                               div
                                                 p
                                                   strong
                                                     em Examples :
                                               div
                                                 ul
                                                   li
                                                     p
                                                       | For record agents, if the user wants to filter &apos;commission&apos; column field from 0.13 to 0.16 then while calling the function user has to provide the below details :
                                                     div
                                                       div
                                                         pre.
                                                           \nvar data = "{'fieldName':'commission','commission':0.13,'commissionOperator':'><','commissionTo':0.16}";
                                                            Simplity.getResponse("filter_tables.agents",data,onSuccess,onError);                              
                                                   li
                                                     p
                                                       | Composite Primary key :For record compParent, if the user wants to filter &apos;createdUser&apos; column field from 100 to 120 then while calling the function user has to provide the below details :
                                                     div
                                                       div
                                                         pre.
                                                           \nvar data = "{'fieldName':'createdUser','createdUser':'100','createdUserOperator':'><','createdUserTo':'120'}";
                                                           Simplity.getResponse("filter_tables.compParent",data,onSuccess,onError);                              
        div
          ul
            li
              p
                strong &ldquo;save&rdquo;
                |  means this is used for add/modify operation.
              div
                ul
                  li
                    p
                      | &ldquo;save&rdquo; means the row is added if primary key is missing, else is used to modify the row with the specified primary key.  Record is updated if primary key values is found, or inserted as a new row if primary key is missing.
                      br
                      | Check out the 
                      strong helloworld
                      |  example:  
                      a(href='https://github.com/simplity/simplity/tree/master/examples/helloworld#asciidoctor') helloworld
                      | .
                      br
        div
          table
            tbody
              tr
                td
                  div Note
                td
                  div
                    p
                      strong
                        em Examples :
                  div
                    ul
                      li
                        p
                          | For record agents, If the user wants to update the agentName to &apos;Rosy&apos; depending upon agentCode(primary key) then while calling the function user has to provide the below details :
                        div
                          div
                            pre.
                              \nvar data = "{'agentCode':'A004','agentName':'Rosy'}";
                              Simplity.getResponse("save_tables.agents",data,onSuccess,onError);                              
                      li
                        p
                          | Composite Primary key :For record compParent, If the user wants to update the createdUser to &apos;100&apos; and &apos;text&apos; to &apos;Dummytext&apos; depending upon primary key then while calling the function user has to provide the below details :
                        div
                          div
                            pre.
                              \nvar data = "{'parentKeyText':'k1','parentKeyNbr':'1','createdUser':'110','text':'Dummytext'}";
                               Simplity.getResponse("save_tables.compParent",data,onSuccess,onError);                              
        div
          ul
            li
              p
                strong &ldquo;suggest&rdquo;
                |  means this is used for providing suggested values for a google-suggest-like control on the client.
              div
                ul
                  li
                    p Columns from matching rows are displayed, based on a record definition.
                  li
                    p
                      strong Note
                      | : 
                      em
                        | For Suggest action, In the Record define suggestionKeyName and suggestionOutputNames as Column field that is required for getting the suggested values and displaying the field values respectively.
                      br
                      | Check out the 
                      strong helloworld
                      |  example:  
                      a(href='https://github.com/simplity/simplity/tree/master/examples/helloworld#asciidoctor') helloworld
                      | .
                      br
        div
          table
            tbody
              tr
                td
                  div Note
                td
                  div
                    p
                      strong
                        em Examples :
                  div
                    ul
                      li
                        p
                          | For record agents: &apos;_key&apos; is for field value to be searched with suggestionKeyName = &quot;agentCode&quot; and &apos;_matchStarting&apos; is for extracting rows starting with supplied chars. _matchStaring will take boolean values: true and false.
                        div
                          div
                            pre.
                              \nvar data = "{'_key':'A','_matchStarting':true}";                              
                      li
                        p
                          | Composite Primary key: For record compParent: &apos;_key&apos; is for field value to be searched for with suggestionKeyName=&quot;parentKeyNbr&quot;.
                        div
                          div
                            pre.
                              \nvar data = "{'_key':'k1'}";
                              Simplity.getResponse("suggest_tables.compParent",data,onSuccess,onError);                              
        div
          ul
            li
              p
                strong &ldquo;list&rdquo; 
                |  is designed specifically for server to send list of possible values for a drop-down for a control (input field) on the client.
              div
                ul
                  li
                    p
                      | Record must specify listFieldName to the column that is to be displayed by the client, while the primary key would be the internal value.
                  li
                    p
                      | In case the record has list of values grouped by another key, like states for a given country, then the record must also specify listGroupKeyName. And the client has to send the value for this group field with that field name.
                      br
                      | Check out the 
                      strong helloworld
                      |  example:  
                      a(href='https://github.com/simplity/simplity/tree/master/examples/helloworld#asciidoctor') helloworld
                      | .
                      br
        div
          table
            tbody
              tr
                td
                  div Note
                td
                  div
                    p
                      strong
                        em Examples :
                  div
                    ul
                      li
                        p For record agents: &apos;_key&apos; is for field value with listFieldName=&quot;agentCode&quot;.
                        div
                          div
                            pre.
                              \nvar data = "{'_key':'A'}"; Simplity.getResponse("list_tables.agents",data,onSuccess,onError);                              
                      li
                        p
                          | Composite Primary key :For record compParent: &apos;_key&apos; is for field value with listFieldName=&quot;text&quot;.
                        div
                          div
                            pre.
                              \nvar data = "{'_key':'Text'}";
                              Simplity.getResponse("list_tables.compParent",data,onSuccess,onError);                              


include footer