include ../header
div.downloadsContainer
  div.downloadsInnerContainer
    div.downloadsHeader DataTypes
    div.downloadsDesc A data type component defines the restrictions on the values a field can have. Its primary purpose is to validate values that are received from the client. Data types are organized into one or more files inside /dt/ folder. Data type names are to be unique across all files for a project .
    div.downloadsDesc A data type component defines the restrictions on the values a field can have. Its primary purpose is to validate values that are received from the client. Data types are organized into one or more files inside /dt/ folder. Data type names are to be unique across all files for a project. Simplity internally uses some data types that are defined in kernel.xml. All the names start with _ to avoid clash with project specific data types. Though it is alright to use these data types, we recommend that you define all the data types that you use in your project. Data types may also be used to automate validations on the client side. There are utilities to generate scripts for data types that can be triggered to validate data before making a service request. Common attributes for all data types
    br
    table
        colgroup
            col
            col
            col
          tbody
            tr
              th
                p Attribute name
              th
                p Required?
              th
                p Description
            tr
              td
                p name
              td
                p yes
              td
                p Should be unique across all files.
            tr
              td
                p messageName
              td
                p no
              td
                p
                  | Specific message name to be used to raise an error if a field of this data type fails validation
            tr
              td
                p sqlType
              td
                p no
              td
                p
                  | Use this feature if you want to use record definitions to create data base tables
            tr
              td
                p formatter
              td
                p no
              td
                p
                  | Use this feature if you use data types on your client side. This is a java script function name that is triggered while rendering the field value
            tr
              td
                p valueList
              td
                p no
              td
                p
                  | Feature to create enumerated types. For example &quot;red,blue,yellow&quot; or &quot;1:red,2:blue,3:yellow&quot;. In the first case value is text, while in the second case value is number, but client uses it as text
            tr
              td
                p description
              td
                p no
              td
                p
                  | documents this data type. Also, this is used as message in case messageName is not specified
    br
    h3 Text data type
    table
          colgroup
            col
            col
            col
          tbody
            tr
              th
                p Attribute name
              th
                p Required?
              th
                p Description
            tr
              td
                p minLength
              td
                p no
              td
                p minimum number of characters
            tr
              td
                p maxLength
              td
                p no
              td
                p maximum number of characters
            tr
              td
                p regex
              td
                p no
              td
                p pattern as per java syntax
    br
    h3 Numeric data type
    table
          colgroup
            col
            col
            col
          tbody
            tr
              th
                p Attribute name
              th
                p Required?
              th
                p Description
            tr
              td
                p minValue
              td
                p no
              td
                p minimum integer value, ignoring fractions
            tr
              td
                p maxValue
              td
                p no
              td
                p maximum integral value ignoring fractions
            tr
              td
                p nbrFractionDigits
              td
                p no
              td 0 means this is integral. Number of decimal places to maintain. For example if you want to have amount with cents/paisa like 12.34, you would set this to 2.
    br
    h3 Date data type
    table
         colgroup
            col
            col
            col
          tbody
            tr
              th
                p Attribute name
              th
                p Required?
              th
                p Description
            tr
              td
                p maxDaysIntoPast
              td
                p no
              td
                p
                  | What is the lower limit on the date. This is relative to current date (today). For example if the delivery must be at least 10 days into the future, then you set this to -10. If the product has to be at least 10 days old, then you set this to 10.
            tr
              td
                p maxDaysIntoFuture
              td
                p no
              td
                p What would be upper limit on the date relative to today.
            tr
              td
                p hasTime
              td
                p no
              td
                p
                  | Date fields are confusing at times because of the way computing world treats them. For business purpose, date has no time-zone complication. This is different from an instance of time, say time-of-arrival that requires the time-zone. Computing world uses the same format to store both, and hence confusion at times.
                  | if hasTime is set to true, then this data is considered to be an instance of time, else it is considered to be a date (a day in the calendar)
    br
    h3 Boolean data type
    div.downloadsDesc Client may use 0 for false and 1 for true.
include ../footer