include ../../header
div.examplesDesccontainer
  div.examplesContainer
    h2.padding mcHelloWorld
    div.plainText This example is a simple java application which default run on '8081' port which you can configure in the application's Main class. #[a.hyperLink(href="https://simplity.github.io/simplity/apidocs/org/simplity/http/Serve.html") org.simplity.http.Serve] is the default servlet of simplity to deliver the services. In this example you can see how to add service and send back the response to the client.
    h3.padding How to run this application
    ul.ulStyle
      li Download and unzip the repository for this example or clone it using Git:</br> 
        div.textbox.textboxBorder git clone 
          a.hyperLink(href="https://github.com/simplity/examples.git") https://github.com/simplity/examples.git
      li cd into mcHelloWorld
      li mvn clean install
      li java -jar target/mcHelloWorld-1.2.1-SNAPSHOT.jar
    div.plainText Wait for the server to start, go to the browser and try it out:</br>
      div.textbox.textboxBorder
        a.hyperLink(href="http://localhost:8081/helloworld?_serviceName=helloworld") http://localhost:8081/helloworld?_serviceName=helloworld
      br
      div.textbox _serviceName 
      span is the query param to invoke the corresponding service.
    div.plainText In response to this request, you will see a JSON response sent by service "helloworld", representing a greeting, that looks something like this:</br>
      div.textbox.textboxBorder {"hello":"Hello World! from simplity","_messages":[]}
    div.plainText Try writing your own services in comp/service/tp folder of the application and call it using the above url with corresponding service name.
include ../../footer