include ../header
div.downloadsContainer
  div.downloadsInnerContainer
    div.downloadsHeader KeyValueList 
    p.downloadsDesc This action is designed specifically for server to send list of possible values for a drop-down for a control (input field) on the client. Auto-service feature is available with naming convention list_recordName. However this action is provided in case you want to send the list as part of another service. Record must specify listFieldName to the column that is to be displayed by the client, while the primary key would be the internal value. In case the record has list of values grouped by another key, like states for a given country, then the record must also specify listGroupKeyName. And the client has to send the value for this group field with that field name, or in a special field name called _key. 
    br
    p.downloadsDesc Attributes of messages are:
    br
    table
      tr 
        th Attribute name
        th Required?
        th Description
      tr
         td
            p recordName
         td
            p yes
         td
            p
               | Qualified name of record that represents the table/view. This record must have specified component.
      tr
         td
            p outputSheetName
         td
            p no
         td
            p Defaults to sheet name for the record. List of values is returned in this sheet.
include ../footer