include ../../header
script (src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js?lang=css")
div.examplesDesccontainer
  div.examplesContainer
    h2 To-do List
    div.plainText A simple web-application which displays a list of to-do items.One can add or update the to-do item. Also can view the active and completed to-do items. This example involves #[a.hyperLink(href="https://en.wikipedia.org/wiki/Java_Message_Service") JMS] implementation with #[a.hyperLink(href="http://activemq.apache.org/") Active MQ] as messaging server.
    h3 Pre-requisites
    ul.ulStyle
      li JDK 1.7 or later
      li Maven 3.0+
      li Apache ActiveMQ
    h3.padding How to run this application
    div.plainText This application has 4 modules. All modules should be running to start the application.Following are the list of modules under this application: 
    ul.ulStyle
      li #[b activeMQ] - starts the Apache ActiveMQ server 
      li #[b todoService] - handles the requests to add/update/delete and write the data to JMS. 
      li #[b todoViewService] - handles the request to get data from DB. This service keeps listening to JMS and performs the CRUD operations on DB with the consumed data. 
      li #[b todosUI] -  provides UI to perform all the actions.
    div.plainText Build and run the jars using maven.Once the services are up and running visit  #[a.hyperLink(href="http://localhost:8083/index.html") localhost:8083/index.html] where you'll see the list of all the to-do items.
    div.textbox.textboxBorder All the configurations related to DB and JMS are done in application.xml file.
    h3.padding Services
    div #[div.textbox #[code addTodo, updateTodo, deleteTodo]] #[span writes the to-do details along with the corresponding action to the configured JMS queue.]
    div #[div.textbox #[code viewTodos]] #[span fetches all the to-do items from the DB]
    div #[div.textbox #[code jmsConsumer]] #[span consumes the data from the configured JMS queue and redirects the data to "crudAction" service.]
    div #[div.textbox #[code crudAction]] #[span performs all the DB transactions like add, delete & update]
include ../../footer